PORT=5000
DB_CONNECTION_URL=
JWT_SECRET=
BASE_URL=
SUPER_USER=
# MongoDB settings
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_AUTH=
DB_NAME=

# Mongo Express settings
ME_CONFIG_MONGO_ADMIN_USERNAME=
ME_CONFIG_MONGO_ADMIN_PASSWORD=
#ME_CONFIG_MONGO_URL=
ME_CONFIG_MONGO_SERVER=